



<div class="col-lg-4 main-sidebar row">
	<div class="btn-sec col">
		<form action="/compose" method="get">
			<input type="submit" class="btn btn-lg post-btn" value="+ New Post">
		</form>					
	</div>
	<div class="game-sec col">
		<h1>Wanna play a fun game?</h1>
		<a href="https://itskiranay.github.io/simonGame/" target="blank">
			<button class="btn btn-lg btn-info">Let's Go</button>
		</a>
	</div>
</div>